/* body {
  background-image: url('background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font-family: 'Arial', sans-serif;
}

#quiz-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  width: 80%;
} */